.page-wrapper {
	background: beige;
	position: relative;
	padding: 0px;
	margin: 0px auto;
	width: 640px;
	text-align: left;
	border-left: 1px solid black;
	border-right: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
	}

body {
    background: #444444;
    padding: 0px;
    margin: 0px;
    font: 14px Georgia, Serif; 
    color: #7f7f7f;	 
    text-align: center; 
   }

#nav {
    display: inline-block;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

nav {
    margin: 0;
}

a {
    text-decoration: none;
}

.intro {
    height: 60px;
    background-color: black;
    font-size: large;
    font-family: Corbel;
}

a:link,
a:visited { 
	text-decoration: none; 
	color: #fff;
	}

a:hover, 
a:active { 
	text-decoration: none; 
	color: #555555;
	}

header {
    padding-top: 0px;
}

nav ul {
    margin: 0;
}
img {
    width: 640px;
    height: 360px;
    padding: 0;
    scale: 1;
}

.navbar {
    width: 150px;
    height: 500px;
    background-color: black;
    position: relative;
    left: 1100px;
    top: -800px;
    border-radius: 5px;
}

#ulnav {
    list-style: none;
    padding-left: 0;
    padding-top: 160px;
    position: static;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#radiogaga {
    text-align: center;
}

footer {
    height: 40px;
    background-color: black;
}

.footer1 {
 height: 5px;
}

.memoria p {
	text-align: justify;
}

.goals {
    background-color: black;
    color: white;

}


